/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*****
HEADER & MAINTITLE
*****/
body {
	font:110%/1.5 "Arimo",sans-serif;
	color: #100;
	background-image: url("../images/ricepaper2.png");
	background-repeat: repeat;
	border: 0.2rem solid saddlebrown;
	border-top: 0.625rem solid saddlebrown;
	border-bottom: 0;
}
/*header,*/
.maintitle {
	color: steelblue;
	background-color: ghostwhite;
	background: -webkit-linear-gradient(rgba(98, 153, 200, 0.15), rgba(70, 130, 180, 0.12), rgba(240, 255, 240, 0.2), rgba(240, 255, 255, 0.15));
	background: -o-linear-gradient(rgba(98, 153, 200, 0.15), rgba(70, 130, 180, 0.12), rgba(240, 255, 240, 0.2), rgba(240, 255, 255, 0.15));
	background: linear-gradient(rgba(98, 153, 200, 0.15), rgba(70, 130, 180, 0.12), rgba(240, 255, 240, 0.2), rgba(240, 255, 255, 0.15));
}
header {
	background-color: ghostwhite;
	height: 2rem;
	text-transform: lowercase;
	padding: 0.8rem;
	padding-bottom: 0.4rem;
	background: -webkit-linear-gradient(rgba(135, 206, 235, 0.3), rgba(192, 192, 192, 0.2), rgba(98, 153, 200, 0.18));
	background: -o-linear-gradient(rgba(135, 206, 235, 0.3), rgba(192, 192, 192, 0.2), rgba(98, 153, 200, 0.18));
	background: linear-gradient(rgba(135, 206, 235, 0.3), rgba(192, 192, 192, 0.2), rgba(98, 153, 200, 0.18));
}
.maintitle {
	color: steelblue;
	text-align: center;
	border: 2rem;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.maintitle h1 {
	/*text-align: center;*/
/*	margin-left: auto;
    margin-right: auto;
    width: 25rem;*/
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
.maintitle h2 {
	color: lightslategray;
	font-size: 1.4rem;
}
header a {
	float: right;
	color: #a29e5e;
	outline: 0;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
header .navbar {
	float: left;
}
header .navlist {
	list-style: none;
}
header .navlist li {
	display: inline-block;
	padding-right: 0.5rem;
}
a:hover,
a a:focus {
	color:darkolivegreen;
}

/*********
SECTIONS
***********/
.section-about,
.section-facts,
.section-likes,
.section-projects {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  align: center;
  text-align: left;
}
.section-likes {
	padding-bottom: 4rem;
}
section i {
	float: left;
	padding-top: 1rem;
	color: olivedrab;
}
.section-about h1,
.section-facts h1,
.section-likes h1,
.section-projects h1 {
  font-size: 1.5em;
  text-align: right;
  color: black;
  text-shadow: 0 0 0.02em midnightblue;
  border-bottom: 0.05em solid olivedrab;
}
.project-image {
  width: 95%;
  height: 95%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
  border: 0.1rem solid saddlebrown;
}

section h3 {
  margin: 1.17em 0;
  font-size: 1.17em;
  color: #FF7019;
  text-shadow: 0.1em 0 lightblue, 0 0.1em lightblue;
}
section p {
  margin-top: 1.5rem;
  font: small-caps x-large Georgia serif;
  margin-bottom: 0.2em;
}
section p:hover {
	/*background: rgba(0, 162, 178, 0.02);*/
	/*background: rgba(178, 75, 0, 0.02);*/
	background: rgba(255, 139, 0, 0.02);
	transition: background 0.2s ease-out;
}
section h5 {
  text-align: right;
  color: gray;
  font-size: 0.83em;
}
.brazil {
  color: yellow;
  text-shadow: 1px 0 1px green, 0 1px 1px green, -1px 0 1px green, 0 -1px 1px green;
}
.mcfc {
  color: lightblue;
  text-shadow: 0.05em 0.05em navy, 0 0 0.1em navy;
}
.usa-left {
  color: red;
}
.usa-right {
  color: white
}
.usa-left, .usa-right {
  text-shadow: 2px 0 0.2em blue, 1px 0 blue;
}
/**************
LIST for PROJECTS SECTION
***************/
.project-list {
	overflow: hidden;
	list-style: none;
}
.project-list li {
	float: left;
	display: inline;
	padding: 0.1rem;
	width: 49%;
}
.project-list li img {
	width: 100%;
	height: 15rem;
	border: 0.1rem solid saddlebrown;
}
/******
FOOTER
**********/
footer {
	border-top: 0.1rem solid olivedrab;
	/*height: 10rem;*/
	background-image: url("../images/linedpaper.png");
	background-repeat: repeat;
	text-align: center;
	padding: 2em 0;
}
.footer-list {
  display: block;
}
.footer-list li {
	color: #a29e5e;
  display: inline-block;
  margin: auto 0;
  padding: 0 1rem;
}
.footer-list li a {
	color: #a29e5e;
}
footer p {
	font:105%/1.1 "Montserrat",sans-serif;
	text-transform: uppercase;
	color: steelblue;
}
/***************
RESPONSIVE WEB DESIGN
MEDIA QUERIES
*******************/
@media (max-width: 508px) {
	.maintitle h1.under500px {
		/*font-size: 2rem;*/
		display: block;
	}
	.maintitle h2.under500px {
		/*font-size: 0.8rem;*/
		display: block;
	}
	.maintitle h1.over500px {
		display: none;
	}
	.maintitle h2.over500px {
		display: none;
	}
	header > a {
		display: none;
	}
	header .navlist li {
		padding-right: 0.4rem;
	}
	footer {
		padding: 2rem 0;
	}
}
@media (min-width: 508px) {
	.maintitle h1.over500px {
		display: block;
	}
	.maintitle h2.over500px {
		display: block;
	}
	.maintitle h1.under500px {
		display: none;
	}
	.maintitle h2.under500px {
		display: none;
	}	
}
@media (max-width: 675px) {
	.section-about,
    .section-facts,
    .section-likes,
    .section-projects {
    	margin-top: 1.8em;
    }
    .section-likes {
		padding-bottom: 3rem;
    }
    section h1,
    section h5 {
    	margin-right: 0.2rem;
    }
    section i,
    section h3 {
    	margin-top: 0;
    	margin-left: 0.2rem;
    }
    section p {
    	margin-top: -0.5em;
    	font-size: large;
    	margin-left: 0.2rem;
    }
	.project-list li {
		display: block;
		width: 100%;
		padding-bottom: 0.5em;
	}
	.project-list li img {
		display: block;
		width: 19.438rem;
		margin-left: auto;
		margin-right: auto;
	}
	.project-image {
		margin-top: -1rem;
	}
}